@charset "UTF-8";* {
	font-family: "Popin", sans-serif;
}

body {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: row;
	row-gap: 40px;
	column-gap: 0px;
	overflow-x: hidden;
	/* This prevents horizontal scrolling */
}

h1 {
	margin: 0;
	color: #212121;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 180%;
	width: fit-content;
}

.sidebar {
	display: flex;
	flex-direction: column;
	padding: 0 24px 24px 24px;
	width: fit-content;
	justify-content: space-between;
	align-items: flex-start;
	flex-shrink: 0;
	height: 90vh;
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	padding: 24px;
	max-width: 100%;
	min-height: 100%;
	min-width: 200px;
	height: fit-content;
	align-self: stretch;
	border-radius: 12px;
	background: #17315d;
}

.nav-container li {
	display: flex;
	align-items: center;
	gap: 4px;
}

.nav-container li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #FFF;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 180%;
}

.nav-container li img {
	width: 20px;
	height: 20px;
}

.nav-link-button img {
	margin-right: 8px;
}

.das_nav {
	display: flex;
	width: calc(100% - 200px);
	padding: 16px 40px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	background: #FFF;
}

.nav-container-link {
	padding: 16px;
	align-items: center;
	row-gap: 8px;
	column-gap: 8px;
	align-self: stretch;
	border-radius: 12px;
}

.nav-container-link:hover, .nav-container-link:focus {
	background: #7d2ae8;
}

#nav-header {
	padding: 16px;
	background: #FFF;
	display: flex;
	width: 1080px;
	margin-top: 36px;
	border-radius: 12px;
	height: fit-content;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

#nav-header h1 {
	margin: 0;
}

#add-product-container {
	margin-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	width: 1070px;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 24px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	background: #FFF;
}

.icon_add_product {
	color: #000;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	padding: 8px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	width: 100%;
}

.icon_add_product img {
	max-width: 100%;
	max-height: 100%;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	border-radius: 16px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
	background-color: #fff;
	max-width: 500px;
	margin: 15% auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
}

.input-box {
	margin: 10px 0;
	position: relative;
}

.input-box input {
	height: 40px;
	width: calc(100% - 20px);
	outline: none;
	border: none;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.input-box i {
	position: absolute;
	color: #7d2ae8;
	font-size: 17px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.button {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: end;
	width: fit-content;
}

.button button {
	height: 40px;
	width: fit-content;
	color: #fff;
	background: #7d2ae8;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.3s ease;
}

.button button:hover {
	background: #6a229b;
}

/* dashborde */
.admin-main {
	padding: 40px;
}

.img_dashbord {
	width: 100%;
	/* This makes the div take up 70% of the containing element's width */
}

.img_dashbord img {
	width: 100%;
	/* This makes the image inside the div take up 100% of its parent's width */
}

.statis_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

/* 
table  */

/* Remove media queries and responsive-related properties */
.main.table {
	width: 100%;
	height: 720px;
	padding: 40px;
	background-color: #fff5;
	backdrop-filter: blur(7px);
	box-shadow: 0 4px 8px #0005;
	border-radius: 8px;
	overflow: hidden;
}

.table__header {
	width: 100%;
	height: 72px;
	background-color: #fff4;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table__header .input-group {
	width: 280px;
	height: 100%;
	background-color: #fff5;
	padding: 0 8px;
	border-radius: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
}

.table__header .input-group:hover {
	width: 360px;
	background-color: #fff8;
	box-shadow: 0 2px 4px #0002;
}

.table__header .input-group img {
	width: 12px;
	height: 12px;
}

.table__header .input-group input {
	width: 100%;
	padding: 0 5px;
	background-color: transparent;
	border: none;
	outline: none;
}

.table__body {
	width: 95%;
	max-height: calc(89% - 16px);
	background-color: #fffb;
	margin: 8px auto;
	border-radius: 6px;
	overflow: auto;
	overflow: overlay;
}

table {
	width: 100%;
}

td img {
	width: 36px;
	height: 36px;
	margin-right: 5px;
	border-radius: 50%;
	vertical-align: middle;
}

table, th, td {
	border-collapse: collapse;
	padding: 8px;
	text-align: left;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
	cursor: pointer;
	text-transform: capitalize;
}

tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.04);
}

tbody tr {
	transition: none;
}

.status {
	padding: 4px 0;
	border-radius: 2rem;
	text-align: center;
}

.status.delivered {
	background-color: #86e49d;
	color: #006b21;
}

.status.cancelled {
	background-color: #d893a3;
	color: #b30021;
}

.status.pending {
	background-color: #ebc474;
}

thead th:hover {
	color: #6c00bd;
}

thead th.active span.icon-arrow {
	background-color: #6c00bd;
	color: #fff;
}

.container_Body {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#statistics {
	flex: 1;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.statistics_section {
	background-color: #FFFFFF;
	border-radius: 14px;
	padding: 24px;
	width: max-content;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-right: 16px; /* Add space between sections */
}

#num_product {
	margin-top: 24px;
}

#logo_stats img {
	height: 100px;
	width: 100px;
}

.logo_stats {
	height: 54px;
	width: 54px;
	background-color: black;
	border-radius: 12px;
}

#stat-container {
	display: flex;
	justify-content: space-between;
	/* Apply space between the elements */
	align-items: center;
	/* Align items vertically */
	width: 100%;
	height: fit-content;
}

.container_Body {
	margin-bottom: 24px;
	flex-direction: column;
	align-items: center;
}

footer {
	background-color: #f0f0f0;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
	color: #666;
}

.container_btn {
	display: flex;
	justify-content: flex-end; /* Align items to the right */
	margin-bottom: 20px;
	margin-right: 40px;
}

.container_btn button {
	height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	width: fit-content;
	color: #fff;
	background: #6a229b;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.3s ease;
}

.container_btn button:hover {
	background: #8e44ad;
	transform: scale(1.05);
}

#order-section {
	width: 100%;
}

#order-table {
	width: 100%;
}

#product-section {
	width: 100%;
}

#product-table {
	width: 100%;
}

.logout-link {
	background-color: #6a229b;
	text-align: center;
	animation: colorSlide 2s linear infinite alternate;
}

#logout_navlink {
	color: #fff;
}

#logo_dronemandu {
	min-width: 200px;
	height: 100%;
}

#dashbord-section {
	width: calc(100% - 200px); /* Subtract the width of the sidebar */
	/* The sidebar width is 200px */
	padding: 0 40px;
	/* Add padding to match the padding of the .admin-main */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-box select {
	height: 40px;
	width: calc(100% - 20px);
	outline: none;
	border: none;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.container_delevered_btn {
	margin-top: 20px;
}

.container_delevered_btn .delevered-product-btn {
	padding: 10px 20px;
	background-color: #6A229B;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	float: left; /* Align button to the left */
}

.container_delevered_btn .delevered-product-btn:hover {
	background-color: #4B1769;
}